.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.titlehead h1 {
  margin: 10px;
  align-items: center;
}

.icons {
  margin: 10px;
}
.filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.shadow {
  box-shadow: 5px 10px #282c34;
  transition: all 0.2s ease-in-out;
}
.shadow:hover {
  transform: scale(1.04);
}

.title {
  color: rgb(71, 69, 69);
  font-weight: lighter;
}
.number {
  color: black;
  font-size: large;
  font-weight: bold;
}
.details > h3 {
  color: darkgray;
}
.details > p {
  color: darkblue;
}
.chart {
  margin: 50px;
}
/* .logo {
  mix-blend-mode: multiply;
} */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
